#img1 {
    background-size: cover;
    background-image: url(./ig7.jpg);
}

#img2 {
    background-size: cover;
    background-image: url(./ig4.jpg);
}

.grid-container {
    background-size: cover;
    background-image: url(./ig8.jpg);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    grid-template-rows: repeat(3, 0fr);
    gap: 20px; Adjust the gap between images if needed
}



.grid-container img { 
    width:200px; /* Set the size for each image */
    height: 300px; /* Ensure the images are square */
    object-fit: cover; /* Maintain aspect ratio */
}
   
